{% extends "base.html" %}


{% block body %}

<div class="ui special cards">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="static/imgs/IMG_1061.PNG">
    </div>
    <div class="content">
      <a class="header">Team Fu</a>
      <div class="meta">
        <span class="date">Create in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div>
</div>


<div class="ui styled accordion">
  <div class="title"><i class="dropdown icon"></i> What is a dog? </div>
  <div class="content">
    <p class="transition hidden">狗算是一种家畜。以其忠诚与忠心广受人类欢迎, 可以在世界各地的许多家庭里发现这个受欢迎的客人。</p>
  </div>
  <div class="title"><i class="dropdown icon"></i> What kinds of dogs are there? </div>
  <div class="content">
    <p class="transition hidden">狗有许多品种，每个品种都有不同的大小及性格，饲主通常选择适合自己生活方式的品种当作自已的伙伴，其中最受欢迎的品种绝对是吉娃娃。</p>
  </div>
  <div class="title"><i class="dropdown icon"></i> How do you acquire a dog? </div>
  <div class="content">
    <p class="transition hidden">通常有三种方式可以取得一只狗狗，宠物店、私人饲主或是动物之家。 (请以领养代替购买)</p>
    <p class="transition hidden">你可以在动物之家内领养一只健康的小狗，比起在宠物店买，收容所中的宠物比较不容易有近亲交配出现的缺陷问题，而且领养一只小狗的费用远比你在宠物店中购买便宜得多。</p>
  </div>
</div>

  {% for article in articles %}
<div class="ui styled accordion">
  <div class="title"><i class="dropdown icon"></i> <a href="/article/{{ article.slug }}">{{ article.title }}</a> </div>
  <div class="content">
    <p class="transition hidden">{% raw article.html %}</p>
  </div>
</div>
  {% end %}







  {% for article in articles %}
<div class="ui raised very padded text container segment">

  <h1 class="ui header"><a href="/article/{{ article.slug }}">{{ article.title }}</a></h1>
  <div class="date">{{ locale.format_date(article.created_time, full_format=True, shorter=True) }}</div>
  <div class="ui container">
    <div class="berniey overflowhide">
    {% raw article.html %}
    </div>
  </div>
  <div class="ui label">作者:{{ article.username}}</div>
</div>


  {% end %}
  <a href="/compose">{{ _("新文章") }}</a>
  <div><a href="/archive">{{ _("Archive") }}</a></div>
  {% from datetime import datetime %}
  <div class="date">{{ locale.format_date(datetime.now(), full_format=True, shorter=True) }}</div>


<div class="ui comments">
  <h3 class="ui dividing header">留言板</h3>

{% if feedback %}
{% for i in feedback %}
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/matt.jpg">
    </a>
    <div class="content">
      <a class="author">{{ i.user_name }}</a>
      <div class="metadata">
        <span class="date">{{ i.created_time }}</span>
      </div>
      <div class="text">{{ i.content }}</div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
<div class="ui divider"></div>
{% end %}

{% end %}

<textarea rows="4" cols="50" name="feedback" placeholder="反馈" form="feedback"></textarea>
<form class="ui form" action="/feedback" method="POST" id="feedback">
  <input type="submit" value="提交" class="ui blue  submit icon button">
</form>
</div>



{% end %}
