{% extends "base.html" %}



{% block body %}

<div class="ui special cards">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="static/imgs/IMG_1061.PNG">
    </div>
    <div class="content">
      <a class="header">Team Fu</a>
      <div class="meta">
        <span class="date">Create in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div>
</div>


  {% for article in articles %}
<div class="ui raised very padded text container segment">

  <h1 class="ui header"><a href="/article/{{ article.slug }}">{{ article.title }}</a></h1>
  <div class="date">{{ locale.format_date(article.created_time, full_format=True, shorter=True) }}</div>
  <div class="ui container">
    <div class="berniey overflowhide">
    {% raw article.html %}
    </div>
  </div>
  <div class="ui label">作者:{{ article.username}}</div>
</div>


  {% end %}
  <a href="/compose">{{ _("新文章") }}</a>
  <div><a href="/archive">{{ _("Archive") }}</a></div>
  {% from datetime import datetime %}
  <div class="date">{{ locale.format_date(datetime.now(), full_format=True, shorter=True) }}</div>


<div class="ui comments">
  <h3 class="ui dividing header">留言板</h3>

{% if feedback %}
{% for i in feedback %}
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/matt.jpg">
    </a>
    <div class="content">
      <a class="author">{{ i.user_name }}</a>
      <div class="metadata">
        <span class="date">{{ i.created_time }}</span>
      </div>
      <div class="text">{{ i.content }}</div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
<div class="ui divider"></div>
{% end %}

{% end %}

<textarea rows="4" cols="50" name="feedback" placeholder="反馈" form="feedback"></textarea>
<form class="ui form" action="/feedback" method="POST" id="feedback">
  <input type="submit" value="提交" class="ui blue  submit icon button">
</form>
</div>



{% end %}
